<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: start;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 150%;
            }
        }
    </style>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/LogoCSE.jpg" type="image/jpg">
    <title>ITDS - Mask Detection</title>
    <script>
        function toggle_display() {
            var x = document.getElementById("video_can_show");
            if (x.style.display == "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
</head>

<body>
    <div class="container">
        <center>
            <h3 style="color:#030d9b"><img src="static/LogoCSE.jpg" width="15%"><i>&emsp; Mask Detection App
                    &emsp;</i><img src="static/LogoIU.png" width="15%"></h3>
        </center>
        <div class="row">
            <div class="col-lg-8  offset-lg-2 ">
                <h3 class="mt-5">Camera Streaming</h3>
                <button onclick="toggle_display()">Show camera</button>
                <div id="video_can_show" style="display:none">
                    <img src="{{ url_for('video_feed') }}" width="100%">
                </div>
            </div>
        </div>
        <div class="container-fluid" style="font-family: Verdana, sans-serif;">
            <center><small>
                    <font size="3"><i class="fa fa-copyright"></i> 2022 Data Science - International University
                    </font>
                </small></center>
        </div>
    </div>
</body>


</html>