<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: start;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 150%;
            }
        }

        table,
        th,
        td {
            border: 1.5px solid black;
        }

        th,
        td {
            padding: 10px;
            text-align: center;
        }
    </style>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/XuanTruongRadius.png" type="image/png">
    <title>Phát hiện khẩu trang</title>

</head>

<body>
    <form method=get enctype=multipart/byteranges>
        <div style="height:20px"></div>
        <div class="container">
            <center>
                <h3 style="color:#232ec5"><i>Hệ thống nhận diện đeo khẩu trang tự động bằng mô hình học sâu</i></h3>
            </center>
            <hr>
            <h3>
                Kết quả dự đoán video:
            </h3>
            <a href="{{video}}"> Download video</a>
            <div style="height:30px"></div>
            <center>
                <h4 style="color:#030d9b">Trường THCS & THPT Xuân Trường &emsp;<img src="static/XuanTruongRadius.png"
                        width="15%"></h4>
            </center>
        </div>
    </form>
</body>

</html>