<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: start;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 150%;
            }
        }
    </style>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/LogoCSE.jpg" type="image/jpg">
    <title>ITDS - Mask Detection</title>

</head>

<body>
    <form method=get enctype=multipart/byteranges>
        <div style="height:20px"></div>
        <div class="container">
            <center>
                <h3 style="color:#030d9b"><img src="static/LogoCSE.jpg" width="15%"><i>&emsp; Mask Detection App
                        &emsp;</i><img src="static/LogoIU.png" width="15%"></h3>
            </center>
            <hr>
            <h3>
                Result:
            </h3>
            {% if video %}
            <div style="margin: 10px auto; text-align: center;">
                <video controls="controls">
                    <source src="{{ url_for('display_video', video=video) }}" type="video/mp4">
                    </source>
                </video>
            </div>
            {% endif %}
            <div style="height:30px"></div>
        </div>
        <div class="container-fluid" style="font-family: Verdana, sans-serif;">
            <center><small>
                    <font size="3"><i class="fa fa-copyright"></i> 2022 Data Science - International University
                    </font>
                </small></center>
        </div>
    </form>
</body>

</html>